      body{
            margin: 0;
            font-family: Arial;
            /*Background Image*/
            background-image: url(keykey.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
            color: beige;
        }
        .box{
            width: 150px;
            height: 150px;
            transition: all 0.5s ease;

        }
        .box:hover{
            transform: scale(1.2);
        }
        

